@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
body {
    font-family: 'Source Sans Pro';
}
body {
    background-color: lightgrey;
}
p {
    text-align: center;
    padding: 20px;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h5 {
    text-align: center;
}
h4 {
    text-align: center;
}
.date {
    padding: 30px;
}
    
/* for the images on screen*/
.column {
    float: left;
    text-align: center;
    width: 40%;
    padding: 30px;
}
.row:after {
    content: "";
    clear: both;
    display: table;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* for the navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 6px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: gray;
    
}
/* for the border surrounding the page */
.newspaper-container {
    width: 700px;
    margin: auto;
    border-style: groove;
    border-radius: 8px;
    background-color: white;
    
}